In [1]:
def factorial(n):
    if n == 1:
        return 1

    return n * factorial(n-1)

In [2]:
def fib(n):
    if n == 0 or n == 1:
        return 1

    return fib(n-1) + fib(n-2)

In [3]:
def tri(n):
    if n == 0 or n == 1 or n == 2:
        return 1

    return tri(n-1) + tri(n-2) + tri(n-3)

In [4]:
print(factorial(4))
print(fib(6))
print(tri(6))

24
13
17